<h1>Games</h1>



{{#if gameFormToggled}}

<!-- Dota2Stats.Game = DS.Model.extend({
  name: DS.attr(),
  duration: DS.attr(),
  datePlayed: DS.attr(),
  radiantTeam: DS.attr(),
  direTeam: DS.attr(),
  isRadiantVictory: DS.attr(),
  hero: DS.belongsTo('hero', {async: true})
}); -->


<form>
  <div class="form-group">
    <label for="name">Name:</label>
    {{input id="name" class="form-control" value=name}}
  </div>

  <div class="form-group">
    <label for="datePlayed">Date Played:</label>
    {{input type="datetime-local" name="datePlayed" value=datePlayed}}
  </div>

  <div class="form-group">

    <ul>
      {{#each hero in heroes}}
        {{#link-to 'hero-info' hero.id}}<li>{{hero.name}}</li>{{/link-to}}
      {{/each}}
    </ul>
  </div>



  <button class='btn btn-success' {{action 'saveGame'}}>Add Game</button>
</form>
<br>
<br>
<br>
{{outlet}}

<br>
<br>
<br>

<ol>
  {{#each radiantTeam}}
    <li>{{name}}</li>
  {{/each}}
</ol>

{{else}}

  <button class='btn btn-info' {{action 'gameFormToggle'}}>Create New Game</button>

{{/if}}
